<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" version="3.0">
  
  <!-- NOME DO PROJETO A SER EXIBIDO -->
  <display-name>ZapZap-WS</display-name>
  
  <!-- DECLARAÇÃO DO SERVLET -->
  <servlet>
  	<!-- NOME DO SERVLET -->
    <servlet-name>Web Service REST</servlet-name>
    <!-- CLASSE JERSEY RESPONSAVEL POR GERENCIAR AS REQUISIÇÕES -->
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <!-- REGISTRO DE PACOTE PADRÃO DA APLICAÇÃO -->
    <init-param>
        <param-name>jersey.config.server.provider.packages</param-name>
        <param-value>com.jonathan.zapzapws</param-value>
    </init-param>
    <!-- ORDEM DE CARREGAMENTO DOS RECURSOS -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- MAPEAMENTO DE REQUISIÇÕES, OU SEJA, DIZEMOS AQUI QUE TUDO
  QUE FOR REQUISITADO COM O PREFIXO "/res/" SERÁ TRATADO PELO
  MEU SERVLET DE NOME "Web Service REST" DEFINIFO ACIMA -->
  <servlet-mapping>
    <servlet-name>Web Service REST</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>